<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大脑门</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/semantic/dist/semantic.min.css') }}" media="all">
</head>

<body>
    <div class="ui labeled button" tabindex="0">
  <div class="ui red button">
    <i class="heart icon"></i> Like
  </div>
  <a class="ui basic red left pointing label">
    1,040
  </a>
  <a class="ui basic red left pointing label">
    1,04
  </a>
</div>
<div class="ui labeled button" tabindex="0">
  <div class="ui basic blue button">
    <i class="fork icon"></i> Forks
  </div>
  <a class="ui basic left pointing blue label">
    1,048
  </a>
  <a class="ui basic left pointing blue label">
    1,048
  </a>
</div>
<div class="ui card">
  <div class="image">
    <img src="http://semantic-ui.com/images/avatar2/large/kristy.png">
  </div>
  <div class="content">
    <a class="header">Kristy</a>
    <div class="meta">
      <span class="date">Joined in 2013</span>
    </div>
    <div class="description">
      Kristy is an art director living in New York.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      303 Friends
    </a>
  </div>
</div>

    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/semantic/dist/semantic.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/test_semantic.js') }}"></script>
</body>
</html>
